=begin
#LLM Pulse API

#REST API client for LLM Pulse AI visibility analytics.

The version of the OpenAPI document: 1.46.0
Contact: info@llmpulse.ai
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module LLMPulse
  class AIAgentTrafficApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # AI bot crawler traffic (Scale plan or above, Beta)
    # Aggregated AI bot traffic hitting the project's origin server (GPTBot, PerplexityBot, ClaudeBot, OAI-SearchBot, Google-Extended, etc.). Sourced from Cloudflare or CSV uploads. Requires the Scale plan; lower tiers receive ERR_PLAN_REQUIRED.
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :range Number of days to look back (alternative to from/to)
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :bot Filter by bot slug (e.g. gptbot, claudebot, perplexitybot)
    # @option opts [String] :company Filter by company (e.g. openai, anthropic, google)
    # @option opts [String] :group_by  (default to 'bot')
    # @option opts [String] :granularity 
    # @return [AgentTrafficResponse]
    def get_agent_traffic(project_id, opts = {})
      data, _status_code, _headers = get_agent_traffic_with_http_info(project_id, opts)
      data
    end

    # AI bot crawler traffic (Scale plan or above, Beta)
    # Aggregated AI bot traffic hitting the project&#39;s origin server (GPTBot, PerplexityBot, ClaudeBot, OAI-SearchBot, Google-Extended, etc.). Sourced from Cloudflare or CSV uploads. Requires the Scale plan; lower tiers receive ERR_PLAN_REQUIRED.
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :range Number of days to look back (alternative to from/to)
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :bot Filter by bot slug (e.g. gptbot, claudebot, perplexitybot)
    # @option opts [String] :company Filter by company (e.g. openai, anthropic, google)
    # @option opts [String] :group_by  (default to 'bot')
    # @option opts [String] :granularity 
    # @return [Array<(AgentTrafficResponse, Integer, Hash)>] AgentTrafficResponse data, response status code and response headers
    def get_agent_traffic_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIAgentTrafficApi.get_agent_traffic ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AIAgentTrafficApi.get_agent_traffic"
      end
      allowable_values = ["bot", "company"]
      if @api_client.config.client_side_validation && opts[:'group_by'] && !allowable_values.include?(opts[:'group_by'])
        fail ArgumentError, "invalid value for \"group_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["day", "week", "month"]
      if @api_client.config.client_side_validation && opts[:'granularity'] && !allowable_values.include?(opts[:'granularity'])
        fail ArgumentError, "invalid value for \"granularity\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/metrics/agent_traffic'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'range'] = opts[:'range'] if !opts[:'range'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'bot'] = opts[:'bot'] if !opts[:'bot'].nil?
      query_params[:'company'] = opts[:'company'] if !opts[:'company'].nil?
      query_params[:'group_by'] = opts[:'group_by'] if !opts[:'group_by'].nil?
      query_params[:'granularity'] = opts[:'granularity'] if !opts[:'granularity'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentTrafficResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AIAgentTrafficApi.get_agent_traffic",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIAgentTrafficApi#get_agent_traffic\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AI referral traffic (Scale plan or above)
    # AI referral traffic for a project: human visits arriving from AI assistants (ChatGPT, Perplexity, Gemini, Claude, etc.), measured from the connected web analytics provider (Google Analytics 4, Adobe Analytics, PostHog, Plausible or Piano). Returns per-source users, sessions and conversions with totals and a conversion rate. Requires a connected provider and the Scale plan; otherwise returns ERR_AI_TRAFFIC_NOT_CONNECTED or ERR_PLAN_REQUIRED.
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :range Number of days to look back (alternative to from/to)
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :source Filter by a single AI source slug (e.g. chatgpt, perplexity, gemini, claude)
    # @option opts [String] :granularity 
    # @return [nil]
    def get_ai_traffic(project_id, opts = {})
      get_ai_traffic_with_http_info(project_id, opts)
      nil
    end

    # AI referral traffic (Scale plan or above)
    # AI referral traffic for a project: human visits arriving from AI assistants (ChatGPT, Perplexity, Gemini, Claude, etc.), measured from the connected web analytics provider (Google Analytics 4, Adobe Analytics, PostHog, Plausible or Piano). Returns per-source users, sessions and conversions with totals and a conversion rate. Requires a connected provider and the Scale plan; otherwise returns ERR_AI_TRAFFIC_NOT_CONNECTED or ERR_PLAN_REQUIRED.
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :range Number of days to look back (alternative to from/to)
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :source Filter by a single AI source slug (e.g. chatgpt, perplexity, gemini, claude)
    # @option opts [String] :granularity 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_ai_traffic_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIAgentTrafficApi.get_ai_traffic ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AIAgentTrafficApi.get_ai_traffic"
      end
      allowable_values = ["day", "week", "month"]
      if @api_client.config.client_side_validation && opts[:'granularity'] && !allowable_values.include?(opts[:'granularity'])
        fail ArgumentError, "invalid value for \"granularity\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/metrics/ai_traffic'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'range'] = opts[:'range'] if !opts[:'range'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'granularity'] = opts[:'granularity'] if !opts[:'granularity'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AIAgentTrafficApi.get_ai_traffic",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIAgentTrafficApi#get_ai_traffic\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # AI bot catalog (Scale plan or above)
    # Static catalog of AI bots that Agent Analytics can identify. Useful for rendering filter UIs that mirror our internal classification (slug, display name, company, category, Cloudflare verified-bot mapping, description). Requires the Scale plan; lower tiers receive ERR_PLAN_REQUIRED. The equivalent MCP tool list_agent_bots is available on the Scale plan or above.
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
    # @return [AgentBotsResponse]
    def list_agent_bots(project_id, opts = {})
      data, _status_code, _headers = list_agent_bots_with_http_info(project_id, opts)
      data
    end

    # AI bot catalog (Scale plan or above)
    # Static catalog of AI bots that Agent Analytics can identify. Useful for rendering filter UIs that mirror our internal classification (slug, display name, company, category, Cloudflare verified-bot mapping, description). Requires the Scale plan; lower tiers receive ERR_PLAN_REQUIRED. The equivalent MCP tool list_agent_bots is available on the Scale plan or above.
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
    # @return [Array<(AgentBotsResponse, Integer, Hash)>] AgentBotsResponse data, response status code and response headers
    def list_agent_bots_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIAgentTrafficApi.list_agent_bots ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AIAgentTrafficApi.list_agent_bots"
      end
      allowable_values = ["flat", "csv"]
      if @api_client.config.client_side_validation && opts[:'output'] && !allowable_values.include?(opts[:'output'])
        fail ArgumentError, "invalid value for \"output\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/dimensions/agent_bots'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'output'] = opts[:'output'] if !opts[:'output'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentBotsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AIAgentTrafficApi.list_agent_bots",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIAgentTrafficApi#list_agent_bots\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
