=begin
#LLM Pulse API

#REST API client for LLM Pulse AI visibility analytics.

The version of the OpenAPI document: 1.47.0
Contact: info@llmpulse.ai
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module LLMPulse
  class AIModelInsightsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # AI Model Insights summary
    # Per-model mentions, citations, brand net sentiment with raw counts, weighted visibility totals/shares, plus actor matrices. All actor entries use the standard shape `{ type, id, competitor_id, name, domain }` with bare (scheme-less) domains.
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :range Number of days to look back (alternative to from/to)
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :granularity 
    # @option opts [String] :collection_id One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
    # @option opts [String] :country_code One ISO country code or a comma-separated list (e.g. US,GB,DE)
    # @option opts [String] :language_code One ISO language code or a comma-separated list (e.g. en,es,de)
    # @option opts [String] :prompt_type One prompt type or a comma-separated list: informational, navigational, commercial, transactional
    # @option opts [String] :brand_kind Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
    # @option opts [String] :competitors Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
    # @return [nil]
    def get_ai_model_insights_summary(project_id, opts = {})
      get_ai_model_insights_summary_with_http_info(project_id, opts)
      nil
    end

    # AI Model Insights summary
    # Per-model mentions, citations, brand net sentiment with raw counts, weighted visibility totals/shares, plus actor matrices. All actor entries use the standard shape &#x60;{ type, id, competitor_id, name, domain }&#x60; with bare (scheme-less) domains.
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :range Number of days to look back (alternative to from/to)
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :granularity 
    # @option opts [String] :collection_id One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
    # @option opts [String] :country_code One ISO country code or a comma-separated list (e.g. US,GB,DE)
    # @option opts [String] :language_code One ISO language code or a comma-separated list (e.g. en,es,de)
    # @option opts [String] :prompt_type One prompt type or a comma-separated list: informational, navigational, commercial, transactional
    # @option opts [String] :brand_kind Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
    # @option opts [String] :competitors Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_ai_model_insights_summary_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIModelInsightsApi.get_ai_model_insights_summary ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AIModelInsightsApi.get_ai_model_insights_summary"
      end
      allowable_values = ["day", "week", "month"]
      if @api_client.config.client_side_validation && opts[:'granularity'] && !allowable_values.include?(opts[:'granularity'])
        fail ArgumentError, "invalid value for \"granularity\", must be one of #{allowable_values}"
      end
      pattern = Regexp.new(/^\d+(,\d+)*$/)
      if @api_client.config.client_side_validation && !opts[:'collection_id'].nil? && opts[:'collection_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"collection_id\"]' when calling AIModelInsightsApi.get_ai_model_insights_summary, must conform to the pattern #{pattern}."
      end

      allowable_values = ["brand", "brand_other", "non_brand"]
      if @api_client.config.client_side_validation && opts[:'brand_kind'] && !allowable_values.include?(opts[:'brand_kind'])
        fail ArgumentError, "invalid value for \"brand_kind\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/reports/ai_model_insights/summary'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'range'] = opts[:'range'] if !opts[:'range'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'granularity'] = opts[:'granularity'] if !opts[:'granularity'].nil?
      query_params[:'collection_id'] = opts[:'collection_id'] if !opts[:'collection_id'].nil?
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'language_code'] = opts[:'language_code'] if !opts[:'language_code'].nil?
      query_params[:'prompt_type'] = opts[:'prompt_type'] if !opts[:'prompt_type'].nil?
      query_params[:'brand_kind'] = opts[:'brand_kind'] if !opts[:'brand_kind'].nil?
      query_params[:'competitors'] = opts[:'competitors'] if !opts[:'competitors'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AIModelInsightsApi.get_ai_model_insights_summary",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIModelInsightsApi#get_ai_model_insights_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Position distribution comparison
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :range Number of days to look back (alternative to from/to)
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :granularity 
    # @option opts [String] :collection_id One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
    # @option opts [String] :country_code One ISO country code or a comma-separated list (e.g. US,GB,DE)
    # @option opts [String] :language_code One ISO language code or a comma-separated list (e.g. en,es,de)
    # @option opts [String] :prompt_type One prompt type or a comma-separated list: informational, navigational, commercial, transactional
    # @option opts [String] :brand_kind Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
    # @option opts [String] :model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
    # @option opts [Integer] :brand1 Competitor ID for the first comparison brand (omit to compare project brand)
    # @option opts [Integer] :brand2 
    # @return [nil]
    def get_ai_model_position_distribution(project_id, opts = {})
      get_ai_model_position_distribution_with_http_info(project_id, opts)
      nil
    end

    # Position distribution comparison
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :range Number of days to look back (alternative to from/to)
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :granularity 
    # @option opts [String] :collection_id One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
    # @option opts [String] :country_code One ISO country code or a comma-separated list (e.g. US,GB,DE)
    # @option opts [String] :language_code One ISO language code or a comma-separated list (e.g. en,es,de)
    # @option opts [String] :prompt_type One prompt type or a comma-separated list: informational, navigational, commercial, transactional
    # @option opts [String] :brand_kind Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
    # @option opts [String] :model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
    # @option opts [Integer] :brand1 Competitor ID for the first comparison brand (omit to compare project brand)
    # @option opts [Integer] :brand2 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_ai_model_position_distribution_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIModelInsightsApi.get_ai_model_position_distribution ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AIModelInsightsApi.get_ai_model_position_distribution"
      end
      allowable_values = ["day", "week", "month"]
      if @api_client.config.client_side_validation && opts[:'granularity'] && !allowable_values.include?(opts[:'granularity'])
        fail ArgumentError, "invalid value for \"granularity\", must be one of #{allowable_values}"
      end
      pattern = Regexp.new(/^\d+(,\d+)*$/)
      if @api_client.config.client_side_validation && !opts[:'collection_id'].nil? && opts[:'collection_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"collection_id\"]' when calling AIModelInsightsApi.get_ai_model_position_distribution, must conform to the pattern #{pattern}."
      end

      allowable_values = ["brand", "brand_other", "non_brand"]
      if @api_client.config.client_side_validation && opts[:'brand_kind'] && !allowable_values.include?(opts[:'brand_kind'])
        fail ArgumentError, "invalid value for \"brand_kind\", must be one of #{allowable_values}"
      end
      allowable_values = ["chatgpt", "perplexity", "gemini", "ai_overview", "ai_mode", "copilot", "claude", "grok", "deepseek", "meta_ai", "amazon_rufus", "naver_ai", "baidu_ai"]
      if @api_client.config.client_side_validation && opts[:'model'] && !allowable_values.include?(opts[:'model'])
        fail ArgumentError, "invalid value for \"model\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/reports/ai_model_insights/position_distribution'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'range'] = opts[:'range'] if !opts[:'range'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'granularity'] = opts[:'granularity'] if !opts[:'granularity'].nil?
      query_params[:'collection_id'] = opts[:'collection_id'] if !opts[:'collection_id'].nil?
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'language_code'] = opts[:'language_code'] if !opts[:'language_code'].nil?
      query_params[:'prompt_type'] = opts[:'prompt_type'] if !opts[:'prompt_type'].nil?
      query_params[:'brand_kind'] = opts[:'brand_kind'] if !opts[:'brand_kind'].nil?
      query_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?
      query_params[:'brand1'] = opts[:'brand1'] if !opts[:'brand1'].nil?
      query_params[:'brand2'] = opts[:'brand2'] if !opts[:'brand2'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AIModelInsightsApi.get_ai_model_position_distribution",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIModelInsightsApi#get_ai_model_position_distribution\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Google AI Overview result availability
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :range Number of days to look back (alternative to from/to)
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :granularity 
    # @option opts [String] :collection_id One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
    # @option opts [String] :country_code One ISO country code or a comma-separated list (e.g. US,GB,DE)
    # @option opts [String] :language_code One ISO language code or a comma-separated list (e.g. en,es,de)
    # @option opts [String] :prompt_type One prompt type or a comma-separated list: informational, navigational, commercial, transactional
    # @option opts [String] :brand_kind Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [nil]
    def get_ai_overview_results(project_id, opts = {})
      get_ai_overview_results_with_http_info(project_id, opts)
      nil
    end

    # Google AI Overview result availability
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :range Number of days to look back (alternative to from/to)
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :granularity 
    # @option opts [String] :collection_id One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
    # @option opts [String] :country_code One ISO country code or a comma-separated list (e.g. US,GB,DE)
    # @option opts [String] :language_code One ISO language code or a comma-separated list (e.g. en,es,de)
    # @option opts [String] :prompt_type One prompt type or a comma-separated list: informational, navigational, commercial, transactional
    # @option opts [String] :brand_kind Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_ai_overview_results_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIModelInsightsApi.get_ai_overview_results ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AIModelInsightsApi.get_ai_overview_results"
      end
      allowable_values = ["day", "week", "month"]
      if @api_client.config.client_side_validation && opts[:'granularity'] && !allowable_values.include?(opts[:'granularity'])
        fail ArgumentError, "invalid value for \"granularity\", must be one of #{allowable_values}"
      end
      pattern = Regexp.new(/^\d+(,\d+)*$/)
      if @api_client.config.client_side_validation && !opts[:'collection_id'].nil? && opts[:'collection_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"collection_id\"]' when calling AIModelInsightsApi.get_ai_overview_results, must conform to the pattern #{pattern}."
      end

      allowable_values = ["brand", "brand_other", "non_brand"]
      if @api_client.config.client_side_validation && opts[:'brand_kind'] && !allowable_values.include?(opts[:'brand_kind'])
        fail ArgumentError, "invalid value for \"brand_kind\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AIModelInsightsApi.get_ai_overview_results, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling AIModelInsightsApi.get_ai_overview_results, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling AIModelInsightsApi.get_ai_overview_results, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/reports/ai_model_insights/ai_overview_results'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'range'] = opts[:'range'] if !opts[:'range'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'granularity'] = opts[:'granularity'] if !opts[:'granularity'].nil?
      query_params[:'collection_id'] = opts[:'collection_id'] if !opts[:'collection_id'].nil?
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'language_code'] = opts[:'language_code'] if !opts[:'language_code'].nil?
      query_params[:'prompt_type'] = opts[:'prompt_type'] if !opts[:'prompt_type'].nil?
      query_params[:'brand_kind'] = opts[:'brand_kind'] if !opts[:'brand_kind'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AIModelInsightsApi.get_ai_overview_results",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIModelInsightsApi#get_ai_overview_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
