=begin
#LLM Pulse API

#REST API client for LLM Pulse AI visibility analytics.

The version of the OpenAPI document: 1.22.0
Contact: info@llmpulse.ai
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module LLMPulse
  class CitationIntelligenceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cited URL cached content
    # @param project_id [Integer] Project ID
    # @param url_sha256 [String] 64-character hex SHA-256 of the cited URL
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_cited_url_content(project_id, url_sha256, opts = {})
      get_cited_url_content_with_http_info(project_id, url_sha256, opts)
      nil
    end

    # Cited URL cached content
    # @param project_id [Integer] Project ID
    # @param url_sha256 [String] 64-character hex SHA-256 of the cited URL
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_cited_url_content_with_http_info(project_id, url_sha256, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CitationIntelligenceApi.get_cited_url_content ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CitationIntelligenceApi.get_cited_url_content"
      end
      # verify the required parameter 'url_sha256' is set
      if @api_client.config.client_side_validation && url_sha256.nil?
        fail ArgumentError, "Missing the required parameter 'url_sha256' when calling CitationIntelligenceApi.get_cited_url_content"
      end
      pattern = Regexp.new(/^[a-f0-9]{64}$/)
      if @api_client.config.client_side_validation && url_sha256 !~ pattern
        fail ArgumentError, "invalid value for 'url_sha256' when calling CitationIntelligenceApi.get_cited_url_content, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/citation_intelligence/urls/{url_sha256}/content'.sub('{url_sha256}', CGI.escape(url_sha256.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CitationIntelligenceApi.get_cited_url_content",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CitationIntelligenceApi#get_cited_url_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cited URL detail
    # @param project_id [Integer] Project ID
    # @param url_sha256 [String] 64-character hex SHA-256 of the cited URL
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_cited_url_detail(project_id, url_sha256, opts = {})
      get_cited_url_detail_with_http_info(project_id, url_sha256, opts)
      nil
    end

    # Cited URL detail
    # @param project_id [Integer] Project ID
    # @param url_sha256 [String] 64-character hex SHA-256 of the cited URL
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_cited_url_detail_with_http_info(project_id, url_sha256, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CitationIntelligenceApi.get_cited_url_detail ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CitationIntelligenceApi.get_cited_url_detail"
      end
      # verify the required parameter 'url_sha256' is set
      if @api_client.config.client_side_validation && url_sha256.nil?
        fail ArgumentError, "Missing the required parameter 'url_sha256' when calling CitationIntelligenceApi.get_cited_url_detail"
      end
      pattern = Regexp.new(/^[a-f0-9]{64}$/)
      if @api_client.config.client_side_validation && url_sha256 !~ pattern
        fail ArgumentError, "invalid value for 'url_sha256' when calling CitationIntelligenceApi.get_cited_url_detail, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/citation_intelligence/urls/{url_sha256}'.sub('{url_sha256}', CGI.escape(url_sha256.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CitationIntelligenceApi.get_cited_url_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CitationIntelligenceApi#get_cited_url_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mention share by citing domain
    # For the responses where each given source domain is cited, returns the share of those responses that mention the brand vs each competitor (brand + competitors sum to 100% per domain). Pass multiple domains to get the whole matrix in one call.
    # @param project_id [Integer] Project ID
    # @param domains [Array<String>] Source domains to analyze, e.g. domains[]&#x3D;gmac.com&amp;domains[]&#x3D;educaweb.com
    # @param [Hash] opts the optional parameters
    # @option opts [String] :model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
    # @option opts [Integer] :collection_id 
    # @option opts [String] :country_code ISO country code (e.g. US, GB, DE)
    # @option opts [String] :language_code ISO language code (e.g. en, es, de)
    # @option opts [Integer] :prompt Filter by prompt ID
    # @option opts [Time] :from 
    # @option opts [Time] :to 
    # @return [nil]
    def get_mentions_by_citing_domain(project_id, domains, opts = {})
      get_mentions_by_citing_domain_with_http_info(project_id, domains, opts)
      nil
    end

    # Mention share by citing domain
    # For the responses where each given source domain is cited, returns the share of those responses that mention the brand vs each competitor (brand + competitors sum to 100% per domain). Pass multiple domains to get the whole matrix in one call.
    # @param project_id [Integer] Project ID
    # @param domains [Array<String>] Source domains to analyze, e.g. domains[]&#x3D;gmac.com&amp;domains[]&#x3D;educaweb.com
    # @param [Hash] opts the optional parameters
    # @option opts [String] :model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
    # @option opts [Integer] :collection_id 
    # @option opts [String] :country_code ISO country code (e.g. US, GB, DE)
    # @option opts [String] :language_code ISO language code (e.g. en, es, de)
    # @option opts [Integer] :prompt Filter by prompt ID
    # @option opts [Time] :from 
    # @option opts [Time] :to 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_mentions_by_citing_domain_with_http_info(project_id, domains, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CitationIntelligenceApi.get_mentions_by_citing_domain ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CitationIntelligenceApi.get_mentions_by_citing_domain"
      end
      # verify the required parameter 'domains' is set
      if @api_client.config.client_side_validation && domains.nil?
        fail ArgumentError, "Missing the required parameter 'domains' when calling CitationIntelligenceApi.get_mentions_by_citing_domain"
      end
      allowable_values = ["chatgpt", "perplexity", "gemini", "ai_overview", "ai_mode", "copilot", "claude", "grok", "deepseek", "meta_ai", "amazon_rufus"]
      if @api_client.config.client_side_validation && opts[:'model'] && !allowable_values.include?(opts[:'model'])
        fail ArgumentError, "invalid value for \"model\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/citation_intelligence/mentions_by_domain'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'domains'] = @api_client.build_collection_param(domains, :multi)
      query_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?
      query_params[:'collection_id'] = opts[:'collection_id'] if !opts[:'collection_id'].nil?
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'language_code'] = opts[:'language_code'] if !opts[:'language_code'].nil?
      query_params[:'prompt'] = opts[:'prompt'] if !opts[:'prompt'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CitationIntelligenceApi.get_mentions_by_citing_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CitationIntelligenceApi#get_mentions_by_citing_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Grouped citation intelligence
    # Grouped citation intelligence by url / domain / host with per-model breakdown, citation rate, and avg citation position. Counts and citation rate include visible citations and background source references. Average position ignores rows with position=0. Owned and competitor source matching honor the project's exact-subdomain setting. Filter vocabulary aligns with `source_type` returned by the API.
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :view  (default to 'url')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :order 
    # @option opts [String] :direction 
    # @option opts [String] :model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
    # @option opts [Integer] :collection_id 
    # @option opts [String] :country_code ISO country code (e.g. US, GB, DE)
    # @option opts [String] :language_code ISO language code (e.g. en, es, de)
    # @option opts [Integer] :prompt Filter by prompt ID
    # @option opts [Time] :from 
    # @option opts [Time] :to 
    # @option opts [String] :query 
    # @option opts [String] :source_type 
    # @option opts [String] :sentiment 
    # @option opts [String] :content_gap 
    # @return [nil]
    def list_citation_groups(project_id, opts = {})
      list_citation_groups_with_http_info(project_id, opts)
      nil
    end

    # Grouped citation intelligence
    # Grouped citation intelligence by url / domain / host with per-model breakdown, citation rate, and avg citation position. Counts and citation rate include visible citations and background source references. Average position ignores rows with position&#x3D;0. Owned and competitor source matching honor the project&#39;s exact-subdomain setting. Filter vocabulary aligns with &#x60;source_type&#x60; returned by the API.
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :view  (default to 'url')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :order 
    # @option opts [String] :direction 
    # @option opts [String] :model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
    # @option opts [Integer] :collection_id 
    # @option opts [String] :country_code ISO country code (e.g. US, GB, DE)
    # @option opts [String] :language_code ISO language code (e.g. en, es, de)
    # @option opts [Integer] :prompt Filter by prompt ID
    # @option opts [Time] :from 
    # @option opts [Time] :to 
    # @option opts [String] :query 
    # @option opts [String] :source_type 
    # @option opts [String] :sentiment 
    # @option opts [String] :content_gap 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def list_citation_groups_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CitationIntelligenceApi.list_citation_groups ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CitationIntelligenceApi.list_citation_groups"
      end
      allowable_values = ["url", "domain", "host"]
      if @api_client.config.client_side_validation && opts[:'view'] && !allowable_values.include?(opts[:'view'])
        fail ArgumentError, "invalid value for \"view\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling CitationIntelligenceApi.list_citation_groups, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling CitationIntelligenceApi.list_citation_groups, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling CitationIntelligenceApi.list_citation_groups, must be greater than or equal to 1.'
      end

      allowable_values = ["group_key", "total_responses", "total_citations", "citation_rate", "avg_citation_position", "first_seen_at", "last_seen_at"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      allowable_values = ["chatgpt", "perplexity", "gemini", "ai_overview", "ai_mode", "copilot", "claude", "grok", "deepseek", "meta_ai", "amazon_rufus"]
      if @api_client.config.client_side_validation && opts[:'model'] && !allowable_values.include?(opts[:'model'])
        fail ArgumentError, "invalid value for \"model\", must be one of #{allowable_values}"
      end
      allowable_values = ["owned", "competitor", "third_party", "social_media", "own_domain", "ugc", "background"]
      if @api_client.config.client_side_validation && opts[:'source_type'] && !allowable_values.include?(opts[:'source_type'])
        fail ArgumentError, "invalid value for \"source_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["negative"]
      if @api_client.config.client_side_validation && opts[:'sentiment'] && !allowable_values.include?(opts[:'sentiment'])
        fail ArgumentError, "invalid value for \"sentiment\", must be one of #{allowable_values}"
      end
      allowable_values = ["mentioned", "gap"]
      if @api_client.config.client_side_validation && opts[:'content_gap'] && !allowable_values.include?(opts[:'content_gap'])
        fail ArgumentError, "invalid value for \"content_gap\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/citation_intelligence/groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'view'] = opts[:'view'] if !opts[:'view'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?
      query_params[:'collection_id'] = opts[:'collection_id'] if !opts[:'collection_id'].nil?
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'language_code'] = opts[:'language_code'] if !opts[:'language_code'].nil?
      query_params[:'prompt'] = opts[:'prompt'] if !opts[:'prompt'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'source_type'] = opts[:'source_type'] if !opts[:'source_type'].nil?
      query_params[:'sentiment'] = opts[:'sentiment'] if !opts[:'sentiment'].nil?
      query_params[:'content_gap'] = opts[:'content_gap'] if !opts[:'content_gap'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CitationIntelligenceApi.list_citation_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CitationIntelligenceApi#list_citation_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cited URL occurrences
    # @param project_id [Integer] Project ID
    # @param url_sha256 [String] 64-character hex SHA-256 of the cited URL
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [nil]
    def list_cited_url_occurrences(project_id, url_sha256, opts = {})
      list_cited_url_occurrences_with_http_info(project_id, url_sha256, opts)
      nil
    end

    # Cited URL occurrences
    # @param project_id [Integer] Project ID
    # @param url_sha256 [String] 64-character hex SHA-256 of the cited URL
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def list_cited_url_occurrences_with_http_info(project_id, url_sha256, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CitationIntelligenceApi.list_cited_url_occurrences ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CitationIntelligenceApi.list_cited_url_occurrences"
      end
      # verify the required parameter 'url_sha256' is set
      if @api_client.config.client_side_validation && url_sha256.nil?
        fail ArgumentError, "Missing the required parameter 'url_sha256' when calling CitationIntelligenceApi.list_cited_url_occurrences"
      end
      pattern = Regexp.new(/^[a-f0-9]{64}$/)
      if @api_client.config.client_side_validation && url_sha256 !~ pattern
        fail ArgumentError, "invalid value for 'url_sha256' when calling CitationIntelligenceApi.list_cited_url_occurrences, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling CitationIntelligenceApi.list_cited_url_occurrences, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling CitationIntelligenceApi.list_cited_url_occurrences, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling CitationIntelligenceApi.list_cited_url_occurrences, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/citation_intelligence/urls/{url_sha256}/occurrences'.sub('{url_sha256}', CGI.escape(url_sha256.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CitationIntelligenceApi.list_cited_url_occurrences",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CitationIntelligenceApi#list_cited_url_occurrences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
