=begin
#LLM Pulse API

#REST API client for LLM Pulse AI visibility analytics.

The version of the OpenAPI document: 1.56.0
Contact: info@llmpulse.ai
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module LLMPulse
  class GEOAuditsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Compare two GEO audit runs
    # @param project_id [Integer] Project ID
    # @param id [String] Audit id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from_run Run number to compare from (default the run before to_run)
    # @option opts [Integer] :to_run Run number to compare to (default the latest completed run)
    # @return [GeoAuditComparison]
    def compare_geo_audit_runs(project_id, id, opts = {})
      data, _status_code, _headers = compare_geo_audit_runs_with_http_info(project_id, id, opts)
      data
    end

    # Compare two GEO audit runs
    # @param project_id [Integer] Project ID
    # @param id [String] Audit id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from_run Run number to compare from (default the run before to_run)
    # @option opts [Integer] :to_run Run number to compare to (default the latest completed run)
    # @return [Array<(GeoAuditComparison, Integer, Hash)>] GeoAuditComparison data, response status code and response headers
    def compare_geo_audit_runs_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOAuditsApi.compare_geo_audit_runs ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GEOAuditsApi.compare_geo_audit_runs"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GEOAuditsApi.compare_geo_audit_runs"
      end
      # resource path
      local_var_path = '/geo_audits/{id}/comparison'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'from_run'] = opts[:'from_run'] if !opts[:'from_run'].nil?
      query_params[:'to_run'] = opts[:'to_run'] if !opts[:'to_run'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GeoAuditComparison'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOAuditsApi.compare_geo_audit_runs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOAuditsApi#compare_geo_audit_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create GEO audits
    # Creates one audit per entry of audit_types and starts the first run of each (it counts against the manual run limits: 6 per audit per hour, 200 per account per day). cadence weekly or monthly is accepted only for types whose checks are tracked run to run, and counts against the plan limit of active recurring audits (ERR_LIMIT_REACHED). Creating an audit that was archived restores it with its history. Requires a `read_write` scope API key.
    # @param geo_audit_create_request [GeoAuditCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GeoAuditCreateResponse]
    def create_geo_audits(geo_audit_create_request, opts = {})
      data, _status_code, _headers = create_geo_audits_with_http_info(geo_audit_create_request, opts)
      data
    end

    # Create GEO audits
    # Creates one audit per entry of audit_types and starts the first run of each (it counts against the manual run limits: 6 per audit per hour, 200 per account per day). cadence weekly or monthly is accepted only for types whose checks are tracked run to run, and counts against the plan limit of active recurring audits (ERR_LIMIT_REACHED). Creating an audit that was archived restores it with its history. Requires a &#x60;read_write&#x60; scope API key.
    # @param geo_audit_create_request [GeoAuditCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GeoAuditCreateResponse, Integer, Hash)>] GeoAuditCreateResponse data, response status code and response headers
    def create_geo_audits_with_http_info(geo_audit_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOAuditsApi.create_geo_audits ...'
      end
      # verify the required parameter 'geo_audit_create_request' is set
      if @api_client.config.client_side_validation && geo_audit_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'geo_audit_create_request' when calling GEOAuditsApi.create_geo_audits"
      end
      # resource path
      local_var_path = '/geo_audits'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(geo_audit_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GeoAuditCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOAuditsApi.create_geo_audits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOAuditsApi#create_geo_audits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete (archive) a GEO audit
    # Archives the audit. Requires a `read_write` scope API key and, for team members, delete permission on GEO Optimization.
    # @param project_id [Integer] Project ID
    # @param id [String] Audit id
    # @param [Hash] opts the optional parameters
    # @return [GeoAuditArchived]
    def delete_geo_audit(project_id, id, opts = {})
      data, _status_code, _headers = delete_geo_audit_with_http_info(project_id, id, opts)
      data
    end

    # Delete (archive) a GEO audit
    # Archives the audit. Requires a &#x60;read_write&#x60; scope API key and, for team members, delete permission on GEO Optimization.
    # @param project_id [Integer] Project ID
    # @param id [String] Audit id
    # @param [Hash] opts the optional parameters
    # @return [Array<(GeoAuditArchived, Integer, Hash)>] GeoAuditArchived data, response status code and response headers
    def delete_geo_audit_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOAuditsApi.delete_geo_audit ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GEOAuditsApi.delete_geo_audit"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GEOAuditsApi.delete_geo_audit"
      end
      # resource path
      local_var_path = '/geo_audits/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GeoAuditArchived'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOAuditsApi.delete_geo_audit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOAuditsApi#delete_geo_audit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a GEO audit
    # @param project_id [Integer] Project ID
    # @param id [String] Audit id
    # @param [Hash] opts the optional parameters
    # @return [GeoAuditResponse]
    def get_geo_audit(project_id, id, opts = {})
      data, _status_code, _headers = get_geo_audit_with_http_info(project_id, id, opts)
      data
    end

    # Get a GEO audit
    # @param project_id [Integer] Project ID
    # @param id [String] Audit id
    # @param [Hash] opts the optional parameters
    # @return [Array<(GeoAuditResponse, Integer, Hash)>] GeoAuditResponse data, response status code and response headers
    def get_geo_audit_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOAuditsApi.get_geo_audit ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GEOAuditsApi.get_geo_audit"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GEOAuditsApi.get_geo_audit"
      end
      # resource path
      local_var_path = '/geo_audits/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GeoAuditResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOAuditsApi.get_geo_audit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOAuditsApi#get_geo_audit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a GEO audit run
    # @param project_id [Integer] Project ID
    # @param geo_audit_id [String] Audit id
    # @param sequence [Integer] Run number within the audit
    # @param [Hash] opts the optional parameters
    # @return [GeoAuditRunDetail]
    def get_geo_audit_run(project_id, geo_audit_id, sequence, opts = {})
      data, _status_code, _headers = get_geo_audit_run_with_http_info(project_id, geo_audit_id, sequence, opts)
      data
    end

    # Get a GEO audit run
    # @param project_id [Integer] Project ID
    # @param geo_audit_id [String] Audit id
    # @param sequence [Integer] Run number within the audit
    # @param [Hash] opts the optional parameters
    # @return [Array<(GeoAuditRunDetail, Integer, Hash)>] GeoAuditRunDetail data, response status code and response headers
    def get_geo_audit_run_with_http_info(project_id, geo_audit_id, sequence, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOAuditsApi.get_geo_audit_run ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GEOAuditsApi.get_geo_audit_run"
      end
      # verify the required parameter 'geo_audit_id' is set
      if @api_client.config.client_side_validation && geo_audit_id.nil?
        fail ArgumentError, "Missing the required parameter 'geo_audit_id' when calling GEOAuditsApi.get_geo_audit_run"
      end
      # verify the required parameter 'sequence' is set
      if @api_client.config.client_side_validation && sequence.nil?
        fail ArgumentError, "Missing the required parameter 'sequence' when calling GEOAuditsApi.get_geo_audit_run"
      end
      # resource path
      local_var_path = '/geo_audits/{geo_audit_id}/runs/{sequence}'.sub('{geo_audit_id}', CGI.escape(geo_audit_id.to_s)).sub('{sequence}', CGI.escape(sequence.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GeoAuditRunDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOAuditsApi.get_geo_audit_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOAuditsApi#get_geo_audit_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GEO audit alerts
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :audit_id Only alerts of this audit
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [GeoAlertList]
    def list_geo_alerts(project_id, opts = {})
      data, _status_code, _headers = list_geo_alerts_with_http_info(project_id, opts)
      data
    end

    # List GEO audit alerts
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :audit_id Only alerts of this audit
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [Array<(GeoAlertList, Integer, Hash)>] GeoAlertList data, response status code and response headers
    def list_geo_alerts_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOAuditsApi.list_geo_alerts ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GEOAuditsApi.list_geo_alerts"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling GEOAuditsApi.list_geo_alerts, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling GEOAuditsApi.list_geo_alerts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling GEOAuditsApi.list_geo_alerts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/geo_alerts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'audit_id'] = opts[:'audit_id'] if !opts[:'audit_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GeoAlertList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOAuditsApi.list_geo_alerts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOAuditsApi#list_geo_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the findings of a GEO audit run
    # @param project_id [Integer] Project ID
    # @param geo_audit_id [String] Audit id
    # @param sequence [Integer] Run number within the audit
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
    # @return [GeoAuditFindingList]
    def list_geo_audit_findings(project_id, geo_audit_id, sequence, opts = {})
      data, _status_code, _headers = list_geo_audit_findings_with_http_info(project_id, geo_audit_id, sequence, opts)
      data
    end

    # List the findings of a GEO audit run
    # @param project_id [Integer] Project ID
    # @param geo_audit_id [String] Audit id
    # @param sequence [Integer] Run number within the audit
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
    # @return [Array<(GeoAuditFindingList, Integer, Hash)>] GeoAuditFindingList data, response status code and response headers
    def list_geo_audit_findings_with_http_info(project_id, geo_audit_id, sequence, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOAuditsApi.list_geo_audit_findings ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GEOAuditsApi.list_geo_audit_findings"
      end
      # verify the required parameter 'geo_audit_id' is set
      if @api_client.config.client_side_validation && geo_audit_id.nil?
        fail ArgumentError, "Missing the required parameter 'geo_audit_id' when calling GEOAuditsApi.list_geo_audit_findings"
      end
      # verify the required parameter 'sequence' is set
      if @api_client.config.client_side_validation && sequence.nil?
        fail ArgumentError, "Missing the required parameter 'sequence' when calling GEOAuditsApi.list_geo_audit_findings"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling GEOAuditsApi.list_geo_audit_findings, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling GEOAuditsApi.list_geo_audit_findings, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling GEOAuditsApi.list_geo_audit_findings, must be greater than or equal to 1.'
      end

      allowable_values = ["flat", "csv"]
      if @api_client.config.client_side_validation && opts[:'output'] && !allowable_values.include?(opts[:'output'])
        fail ArgumentError, "invalid value for \"output\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/geo_audits/{geo_audit_id}/runs/{sequence}/findings'.sub('{geo_audit_id}', CGI.escape(geo_audit_id.to_s)).sub('{sequence}', CGI.escape(sequence.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'output'] = opts[:'output'] if !opts[:'output'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GeoAuditFindingList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOAuditsApi.list_geo_audit_findings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOAuditsApi#list_geo_audit_findings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the issues of a GEO audit
    # @param project_id [Integer] Project ID
    # @param geo_audit_id [String] Audit id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :state open means open and not accepted; default all
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [GeoAuditIssueList]
    def list_geo_audit_issues(project_id, geo_audit_id, opts = {})
      data, _status_code, _headers = list_geo_audit_issues_with_http_info(project_id, geo_audit_id, opts)
      data
    end

    # List the issues of a GEO audit
    # @param project_id [Integer] Project ID
    # @param geo_audit_id [String] Audit id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :state open means open and not accepted; default all
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [Array<(GeoAuditIssueList, Integer, Hash)>] GeoAuditIssueList data, response status code and response headers
    def list_geo_audit_issues_with_http_info(project_id, geo_audit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOAuditsApi.list_geo_audit_issues ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GEOAuditsApi.list_geo_audit_issues"
      end
      # verify the required parameter 'geo_audit_id' is set
      if @api_client.config.client_side_validation && geo_audit_id.nil?
        fail ArgumentError, "Missing the required parameter 'geo_audit_id' when calling GEOAuditsApi.list_geo_audit_issues"
      end
      allowable_values = ["open", "accepted", "fixed", "gone"]
      if @api_client.config.client_side_validation && opts[:'state'] && !allowable_values.include?(opts[:'state'])
        fail ArgumentError, "invalid value for \"state\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling GEOAuditsApi.list_geo_audit_issues, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling GEOAuditsApi.list_geo_audit_issues, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling GEOAuditsApi.list_geo_audit_issues, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/geo_audits/{geo_audit_id}/issues'.sub('{geo_audit_id}', CGI.escape(geo_audit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GeoAuditIssueList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOAuditsApi.list_geo_audit_issues",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOAuditsApi#list_geo_audit_issues\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the runs of a GEO audit
    # @param project_id [Integer] Project ID
    # @param geo_audit_id [String] Audit id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
    # @return [GeoAuditRunList]
    def list_geo_audit_runs(project_id, geo_audit_id, opts = {})
      data, _status_code, _headers = list_geo_audit_runs_with_http_info(project_id, geo_audit_id, opts)
      data
    end

    # List the runs of a GEO audit
    # @param project_id [Integer] Project ID
    # @param geo_audit_id [String] Audit id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
    # @return [Array<(GeoAuditRunList, Integer, Hash)>] GeoAuditRunList data, response status code and response headers
    def list_geo_audit_runs_with_http_info(project_id, geo_audit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOAuditsApi.list_geo_audit_runs ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GEOAuditsApi.list_geo_audit_runs"
      end
      # verify the required parameter 'geo_audit_id' is set
      if @api_client.config.client_side_validation && geo_audit_id.nil?
        fail ArgumentError, "Missing the required parameter 'geo_audit_id' when calling GEOAuditsApi.list_geo_audit_runs"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling GEOAuditsApi.list_geo_audit_runs, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling GEOAuditsApi.list_geo_audit_runs, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling GEOAuditsApi.list_geo_audit_runs, must be greater than or equal to 1.'
      end

      allowable_values = ["flat", "csv"]
      if @api_client.config.client_side_validation && opts[:'output'] && !allowable_values.include?(opts[:'output'])
        fail ArgumentError, "invalid value for \"output\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/geo_audits/{geo_audit_id}/runs'.sub('{geo_audit_id}', CGI.escape(geo_audit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'output'] = opts[:'output'] if !opts[:'output'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GeoAuditRunList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOAuditsApi.list_geo_audit_runs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOAuditsApi#list_geo_audit_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GEO audits
    # Lists the project's audits, most recently updated first. Archived audits are left out unless status=archived.
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :audit_type 
    # @option opts [String] :status 
    # @option opts [String] :cadence 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [GeoAuditList]
    def list_geo_audits(project_id, opts = {})
      data, _status_code, _headers = list_geo_audits_with_http_info(project_id, opts)
      data
    end

    # List GEO audits
    # Lists the project&#39;s audits, most recently updated first. Archived audits are left out unless status&#x3D;archived.
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :audit_type 
    # @option opts [String] :status 
    # @option opts [String] :cadence 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [Array<(GeoAuditList, Integer, Hash)>] GeoAuditList data, response status code and response headers
    def list_geo_audits_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOAuditsApi.list_geo_audits ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GEOAuditsApi.list_geo_audits"
      end
      allowable_values = ["agent_readiness", "robots_txt", "crawlability", "schema", "content_readiness", "discoverability", "site_structure"]
      if @api_client.config.client_side_validation && opts[:'audit_type'] && !allowable_values.include?(opts[:'audit_type'])
        fail ArgumentError, "invalid value for \"audit_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["active", "paused", "archived"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["once", "weekly", "monthly"]
      if @api_client.config.client_side_validation && opts[:'cadence'] && !allowable_values.include?(opts[:'cadence'])
        fail ArgumentError, "invalid value for \"cadence\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling GEOAuditsApi.list_geo_audits, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling GEOAuditsApi.list_geo_audits, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling GEOAuditsApi.list_geo_audits, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/geo_audits'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'audit_type'] = opts[:'audit_type'] if !opts[:'audit_type'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'cadence'] = opts[:'cadence'] if !opts[:'cadence'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GeoAuditList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOAuditsApi.list_geo_audits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOAuditsApi#list_geo_audits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run a GEO audit now
    # Starts a run and returns it with status queued; poll GET /geo_audits/{geo_audit_id}/runs/{sequence} until status is completed, failed or unreachable. Limited to 6 manual runs per audit per rolling hour and 200 per account per day (ERR_LIMIT_REACHED); scheduled runs do not count. Requires a `read_write` scope API key.
    # @param project_id [Integer] Project ID
    # @param geo_audit_id [String] Audit id
    # @param [Hash] opts the optional parameters
    # @return [GeoAuditRunResponse]
    def run_geo_audit(project_id, geo_audit_id, opts = {})
      data, _status_code, _headers = run_geo_audit_with_http_info(project_id, geo_audit_id, opts)
      data
    end

    # Run a GEO audit now
    # Starts a run and returns it with status queued; poll GET /geo_audits/{geo_audit_id}/runs/{sequence} until status is completed, failed or unreachable. Limited to 6 manual runs per audit per rolling hour and 200 per account per day (ERR_LIMIT_REACHED); scheduled runs do not count. Requires a &#x60;read_write&#x60; scope API key.
    # @param project_id [Integer] Project ID
    # @param geo_audit_id [String] Audit id
    # @param [Hash] opts the optional parameters
    # @return [Array<(GeoAuditRunResponse, Integer, Hash)>] GeoAuditRunResponse data, response status code and response headers
    def run_geo_audit_with_http_info(project_id, geo_audit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOAuditsApi.run_geo_audit ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GEOAuditsApi.run_geo_audit"
      end
      # verify the required parameter 'geo_audit_id' is set
      if @api_client.config.client_side_validation && geo_audit_id.nil?
        fail ArgumentError, "Missing the required parameter 'geo_audit_id' when calling GEOAuditsApi.run_geo_audit"
      end
      # resource path
      local_var_path = '/geo_audits/{geo_audit_id}/runs'.sub('{geo_audit_id}', CGI.escape(geo_audit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GeoAuditRunResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOAuditsApi.run_geo_audit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOAuditsApi#run_geo_audit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a GEO audit
    # Updates the schedule, the email alerts or the status. Making an audit recurring or resuming it counts against the plan limit of active recurring audits (ERR_LIMIT_REACHED). Requires a `read_write` scope API key and, for team members, update permission on GEO Optimization.
    # @param id [String] Audit id
    # @param geo_audit_update_request [GeoAuditUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GeoAuditResponse]
    def update_geo_audit(id, geo_audit_update_request, opts = {})
      data, _status_code, _headers = update_geo_audit_with_http_info(id, geo_audit_update_request, opts)
      data
    end

    # Update a GEO audit
    # Updates the schedule, the email alerts or the status. Making an audit recurring or resuming it counts against the plan limit of active recurring audits (ERR_LIMIT_REACHED). Requires a &#x60;read_write&#x60; scope API key and, for team members, update permission on GEO Optimization.
    # @param id [String] Audit id
    # @param geo_audit_update_request [GeoAuditUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GeoAuditResponse, Integer, Hash)>] GeoAuditResponse data, response status code and response headers
    def update_geo_audit_with_http_info(id, geo_audit_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOAuditsApi.update_geo_audit ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GEOAuditsApi.update_geo_audit"
      end
      # verify the required parameter 'geo_audit_update_request' is set
      if @api_client.config.client_side_validation && geo_audit_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'geo_audit_update_request' when calling GEOAuditsApi.update_geo_audit"
      end
      # resource path
      local_var_path = '/geo_audits/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(geo_audit_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GeoAuditResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOAuditsApi.update_geo_audit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOAuditsApi#update_geo_audit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Accept or reopen a GEO audit issue
    # Requires a `read_write` scope API key and, for team members, update permission on GEO Optimization.
    # @param geo_audit_id [String] Audit id
    # @param id [Integer] Issue id
    # @param geo_audit_issue_update_request [GeoAuditIssueUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GeoAuditIssueResponse]
    def update_geo_audit_issue(geo_audit_id, id, geo_audit_issue_update_request, opts = {})
      data, _status_code, _headers = update_geo_audit_issue_with_http_info(geo_audit_id, id, geo_audit_issue_update_request, opts)
      data
    end

    # Accept or reopen a GEO audit issue
    # Requires a &#x60;read_write&#x60; scope API key and, for team members, update permission on GEO Optimization.
    # @param geo_audit_id [String] Audit id
    # @param id [Integer] Issue id
    # @param geo_audit_issue_update_request [GeoAuditIssueUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GeoAuditIssueResponse, Integer, Hash)>] GeoAuditIssueResponse data, response status code and response headers
    def update_geo_audit_issue_with_http_info(geo_audit_id, id, geo_audit_issue_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOAuditsApi.update_geo_audit_issue ...'
      end
      # verify the required parameter 'geo_audit_id' is set
      if @api_client.config.client_side_validation && geo_audit_id.nil?
        fail ArgumentError, "Missing the required parameter 'geo_audit_id' when calling GEOAuditsApi.update_geo_audit_issue"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GEOAuditsApi.update_geo_audit_issue"
      end
      # verify the required parameter 'geo_audit_issue_update_request' is set
      if @api_client.config.client_side_validation && geo_audit_issue_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'geo_audit_issue_update_request' when calling GEOAuditsApi.update_geo_audit_issue"
      end
      # resource path
      local_var_path = '/geo_audits/{geo_audit_id}/issues/{id}'.sub('{geo_audit_id}', CGI.escape(geo_audit_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(geo_audit_issue_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GeoAuditIssueResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOAuditsApi.update_geo_audit_issue",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOAuditsApi#update_geo_audit_issue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
