=begin
#LLM Pulse API

#REST API client for LLM Pulse AI visibility analytics.

The version of the OpenAPI document: 1.22.0
Contact: info@llmpulse.ai
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module LLMPulse
  class GEOWriterApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a GEO Writer task
    # @param intelligence_task_create_request [IntelligenceTaskCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntelligenceTask]
    def create_intelligence_task(intelligence_task_create_request, opts = {})
      data, _status_code, _headers = create_intelligence_task_with_http_info(intelligence_task_create_request, opts)
      data
    end

    # Create a GEO Writer task
    # @param intelligence_task_create_request [IntelligenceTaskCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntelligenceTask, Integer, Hash)>] IntelligenceTask data, response status code and response headers
    def create_intelligence_task_with_http_info(intelligence_task_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOWriterApi.create_intelligence_task ...'
      end
      # verify the required parameter 'intelligence_task_create_request' is set
      if @api_client.config.client_side_validation && intelligence_task_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'intelligence_task_create_request' when calling GEOWriterApi.create_intelligence_task"
      end
      # resource path
      local_var_path = '/intelligence_tasks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(intelligence_task_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntelligenceTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOWriterApi.create_intelligence_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOWriterApi#create_intelligence_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a GEO Writer task
    # @param project_id [Integer] Project ID
    # @param id [String] Numeric task ID or public_id string token
    # @param [Hash] opts the optional parameters
    # @return [IntelligenceTask]
    def get_intelligence_task(project_id, id, opts = {})
      data, _status_code, _headers = get_intelligence_task_with_http_info(project_id, id, opts)
      data
    end

    # Get a GEO Writer task
    # @param project_id [Integer] Project ID
    # @param id [String] Numeric task ID or public_id string token
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntelligenceTask, Integer, Hash)>] IntelligenceTask data, response status code and response headers
    def get_intelligence_task_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOWriterApi.get_intelligence_task ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GEOWriterApi.get_intelligence_task"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GEOWriterApi.get_intelligence_task"
      end
      # resource path
      local_var_path = '/intelligence_tasks/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntelligenceTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOWriterApi.get_intelligence_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOWriterApi#get_intelligence_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GEO Writer tasks
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :task_type 
    # @option opts [String] :status 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [nil]
    def list_intelligence_tasks(project_id, opts = {})
      list_intelligence_tasks_with_http_info(project_id, opts)
      nil
    end

    # List GEO Writer tasks
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :task_type 
    # @option opts [String] :status 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def list_intelligence_tasks_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GEOWriterApi.list_intelligence_tasks ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling GEOWriterApi.list_intelligence_tasks"
      end
      allowable_values = ["brief", "create", "update", "pr_insights", "custom"]
      if @api_client.config.client_side_validation && opts[:'task_type'] && !allowable_values.include?(opts[:'task_type'])
        fail ArgumentError, "invalid value for \"task_type\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling GEOWriterApi.list_intelligence_tasks, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling GEOWriterApi.list_intelligence_tasks, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling GEOWriterApi.list_intelligence_tasks, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/intelligence_tasks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'task_type'] = opts[:'task_type'] if !opts[:'task_type'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"GEOWriterApi.list_intelligence_tasks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GEOWriterApi#list_intelligence_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
