=begin
#LLM Pulse API

#REST API client for LLM Pulse AI visibility analytics.

The version of the OpenAPI document: 1.46.0
Contact: info@llmpulse.ai
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module LLMPulse
  class PromptsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk-create prompts
    # Add prompts to a project in bulk (up to 100 per request). Validates the account prompt quota and skips duplicates. Requires a `read_write` scope API key.
    # @param prompts_create_request [PromptsCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PromptsCreateResponse]
    def create_prompts(prompts_create_request, opts = {})
      data, _status_code, _headers = create_prompts_with_http_info(prompts_create_request, opts)
      data
    end

    # Bulk-create prompts
    # Add prompts to a project in bulk (up to 100 per request). Validates the account prompt quota and skips duplicates. Requires a &#x60;read_write&#x60; scope API key.
    # @param prompts_create_request [PromptsCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PromptsCreateResponse, Integer, Hash)>] PromptsCreateResponse data, response status code and response headers
    def create_prompts_with_http_info(prompts_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromptsApi.create_prompts ...'
      end
      # verify the required parameter 'prompts_create_request' is set
      if @api_client.config.client_side_validation && prompts_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'prompts_create_request' when calling PromptsApi.create_prompts"
      end
      # resource path
      local_var_path = '/prompts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prompts_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PromptsCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PromptsApi.create_prompts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#create_prompts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a prompt
    # Deletes a prompt (irreversible). The prompt disappears immediately and frees a prompt slot; its historical data (executions, mentions, citations, sentiment) is purged by a background job. Requires a `read_write` scope API key.
    # @param project_id [Integer] Project ID
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prompt(project_id, id, opts = {})
      delete_prompt_with_http_info(project_id, id, opts)
      nil
    end

    # Delete a prompt
    # Deletes a prompt (irreversible). The prompt disappears immediately and frees a prompt slot; its historical data (executions, mentions, citations, sentiment) is purged by a background job. Requires a &#x60;read_write&#x60; scope API key.
    # @param project_id [Integer] Project ID
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prompt_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromptsApi.delete_prompt ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PromptsApi.delete_prompt"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PromptsApi.delete_prompt"
      end
      # resource path
      local_var_path = '/prompts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PromptsApi.delete_prompt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#delete_prompt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List prompt executions
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
    # @option opts [String] :collection_id One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
    # @option opts [String] :country_code One ISO country code or a comma-separated list (e.g. US,GB,DE)
    # @option opts [String] :language_code One ISO language code or a comma-separated list (e.g. en,es,de)
    # @option opts [Integer] :prompt Filter by prompt ID
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :mention_filter Filter by which brands are mentioned, as a two-axis matrix (your brand x competitors): mentions_you / not_mentions_you, mentions_competitor / not_mentions_competitor, and the four combined cells you_and_competitor, competitor_not_you (a rival wins and you are absent), you_not_competitor, no_brands (no tracked brand appears, i.e. open space). Combine with &#39;competitors&#39; to narrow the competitor side to specific rivals; on a negative cell that reads &#39;none of these&#39;. On /dimensions/sources it applies to the crawled content of each cited page instead of the answer text. The legacy value &#39;competitors_only&#39; is still accepted as an alias of competitor_not_you.
    # @option opts [String] :citation_filter Same two-axis matrix applied to the domains cited in the answer instead of the brands named in it. Independent of mention_filter; pass both to intersect them (e.g. mentions_you + not_cites_you finds answers that talk about you without linking to you).
    # @option opts [String] :competitors Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
    # @option opts [String] :output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
    # @return [nil]
    def list_prompt_executions(project_id, opts = {})
      list_prompt_executions_with_http_info(project_id, opts)
      nil
    end

    # List prompt executions
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
    # @option opts [String] :collection_id One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
    # @option opts [String] :country_code One ISO country code or a comma-separated list (e.g. US,GB,DE)
    # @option opts [String] :language_code One ISO language code or a comma-separated list (e.g. en,es,de)
    # @option opts [Integer] :prompt Filter by prompt ID
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :mention_filter Filter by which brands are mentioned, as a two-axis matrix (your brand x competitors): mentions_you / not_mentions_you, mentions_competitor / not_mentions_competitor, and the four combined cells you_and_competitor, competitor_not_you (a rival wins and you are absent), you_not_competitor, no_brands (no tracked brand appears, i.e. open space). Combine with &#39;competitors&#39; to narrow the competitor side to specific rivals; on a negative cell that reads &#39;none of these&#39;. On /dimensions/sources it applies to the crawled content of each cited page instead of the answer text. The legacy value &#39;competitors_only&#39; is still accepted as an alias of competitor_not_you.
    # @option opts [String] :citation_filter Same two-axis matrix applied to the domains cited in the answer instead of the brands named in it. Independent of mention_filter; pass both to intersect them (e.g. mentions_you + not_cites_you finds answers that talk about you without linking to you).
    # @option opts [String] :competitors Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
    # @option opts [String] :output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def list_prompt_executions_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromptsApi.list_prompt_executions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PromptsApi.list_prompt_executions"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling PromptsApi.list_prompt_executions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling PromptsApi.list_prompt_executions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling PromptsApi.list_prompt_executions, must be greater than or equal to 1.'
      end

      allowable_values = ["chatgpt", "perplexity", "gemini", "ai_overview", "ai_mode", "copilot", "claude", "grok", "deepseek", "meta_ai", "amazon_rufus", "naver_ai", "baidu_ai"]
      if @api_client.config.client_side_validation && opts[:'model'] && !allowable_values.include?(opts[:'model'])
        fail ArgumentError, "invalid value for \"model\", must be one of #{allowable_values}"
      end
      pattern = Regexp.new(/^\d+(,\d+)*$/)
      if @api_client.config.client_side_validation && !opts[:'collection_id'].nil? && opts[:'collection_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"collection_id\"]' when calling PromptsApi.list_prompt_executions, must conform to the pattern #{pattern}."
      end

      allowable_values = ["mentions_you", "not_mentions_you", "mentions_competitor", "not_mentions_competitor", "you_and_competitor", "competitor_not_you", "you_not_competitor", "no_brands"]
      if @api_client.config.client_side_validation && opts[:'mention_filter'] && !allowable_values.include?(opts[:'mention_filter'])
        fail ArgumentError, "invalid value for \"mention_filter\", must be one of #{allowable_values}"
      end
      allowable_values = ["cites_you", "not_cites_you", "cites_competitor", "not_cites_competitor", "you_and_competitor", "competitor_not_you", "you_not_competitor", "cites_no_brands"]
      if @api_client.config.client_side_validation && opts[:'citation_filter'] && !allowable_values.include?(opts[:'citation_filter'])
        fail ArgumentError, "invalid value for \"citation_filter\", must be one of #{allowable_values}"
      end
      allowable_values = ["flat", "csv"]
      if @api_client.config.client_side_validation && opts[:'output'] && !allowable_values.include?(opts[:'output'])
        fail ArgumentError, "invalid value for \"output\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/dimensions/prompt_executions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?
      query_params[:'collection_id'] = opts[:'collection_id'] if !opts[:'collection_id'].nil?
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'language_code'] = opts[:'language_code'] if !opts[:'language_code'].nil?
      query_params[:'prompt'] = opts[:'prompt'] if !opts[:'prompt'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'mention_filter'] = opts[:'mention_filter'] if !opts[:'mention_filter'].nil?
      query_params[:'citation_filter'] = opts[:'citation_filter'] if !opts[:'citation_filter'].nil?
      query_params[:'competitors'] = opts[:'competitors'] if !opts[:'competitors'].nil?
      query_params[:'output'] = opts[:'output'] if !opts[:'output'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PromptsApi.list_prompt_executions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#list_prompt_executions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List prompts
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
    # @option opts [String] :collection_id One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
    # @option opts [String] :country_code One ISO country code or a comma-separated list (e.g. US,GB,DE)
    # @option opts [String] :language_code One ISO language code or a comma-separated list (e.g. en,es,de)
    # @option opts [String] :prompt_type One prompt type or a comma-separated list: informational, navigational, commercial, transactional
    # @option opts [String] :brand_kind Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
    # @return [nil]
    def list_prompts(project_id, opts = {})
      list_prompts_with_http_info(project_id, opts)
      nil
    end

    # List prompts
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
    # @option opts [String] :collection_id One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
    # @option opts [String] :country_code One ISO country code or a comma-separated list (e.g. US,GB,DE)
    # @option opts [String] :language_code One ISO language code or a comma-separated list (e.g. en,es,de)
    # @option opts [String] :prompt_type One prompt type or a comma-separated list: informational, navigational, commercial, transactional
    # @option opts [String] :brand_kind Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def list_prompts_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromptsApi.list_prompts ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PromptsApi.list_prompts"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling PromptsApi.list_prompts, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling PromptsApi.list_prompts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling PromptsApi.list_prompts, must be greater than or equal to 1.'
      end

      allowable_values = ["chatgpt", "perplexity", "gemini", "ai_overview", "ai_mode", "copilot", "claude", "grok", "deepseek", "meta_ai", "amazon_rufus", "naver_ai", "baidu_ai"]
      if @api_client.config.client_side_validation && opts[:'model'] && !allowable_values.include?(opts[:'model'])
        fail ArgumentError, "invalid value for \"model\", must be one of #{allowable_values}"
      end
      pattern = Regexp.new(/^\d+(,\d+)*$/)
      if @api_client.config.client_side_validation && !opts[:'collection_id'].nil? && opts[:'collection_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"collection_id\"]' when calling PromptsApi.list_prompts, must conform to the pattern #{pattern}."
      end

      allowable_values = ["brand", "brand_other", "non_brand"]
      if @api_client.config.client_side_validation && opts[:'brand_kind'] && !allowable_values.include?(opts[:'brand_kind'])
        fail ArgumentError, "invalid value for \"brand_kind\", must be one of #{allowable_values}"
      end
      allowable_values = ["flat", "csv"]
      if @api_client.config.client_side_validation && opts[:'output'] && !allowable_values.include?(opts[:'output'])
        fail ArgumentError, "invalid value for \"output\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/dimensions/prompts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?
      query_params[:'collection_id'] = opts[:'collection_id'] if !opts[:'collection_id'].nil?
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'language_code'] = opts[:'language_code'] if !opts[:'language_code'].nil?
      query_params[:'prompt_type'] = opts[:'prompt_type'] if !opts[:'prompt_type'].nil?
      query_params[:'brand_kind'] = opts[:'brand_kind'] if !opts[:'brand_kind'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'output'] = opts[:'output'] if !opts[:'output'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PromptsApi.list_prompts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#list_prompts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List query fan-out
    # The sub-queries a model actually issued when answering your tracked prompts. view=query (default) returns one row per distinct sub-query with count and share of all occurrences; view=prompt returns one row per prompt with how many distinct sub-queries it produced. Fan-out is reported mainly by ChatGPT, so an empty result usually means the models in scope do not expose it. The API returns the aggregation only: for a period-over-period delta, call it twice with explicit from/to.
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :view Row shape: one per distinct sub-query, or one per prompt (default to 'query')
    # @option opts [String] :order Sort field; the allowed set depends on view
    # @option opts [String] :direction  (default to 'desc')
    # @option opts [String] :query Case-insensitive substring filter on the sub-query text
    # @option opts [String] :model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
    # @option opts [String] :collection_id One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
    # @option opts [String] :country_code One ISO country code or a comma-separated list (e.g. US,GB,DE)
    # @option opts [String] :language_code One ISO language code or a comma-separated list (e.g. en,es,de)
    # @option opts [Integer] :prompt Filter by prompt ID
    # @option opts [String] :prompt_type One prompt type or a comma-separated list: informational, navigational, commercial, transactional
    # @option opts [String] :brand_kind Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
    # @option opts [Integer] :range Number of days to look back (alternative to from/to)
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
    # @return [nil]
    def list_query_fan_outs(project_id, opts = {})
      list_query_fan_outs_with_http_info(project_id, opts)
      nil
    end

    # List query fan-out
    # The sub-queries a model actually issued when answering your tracked prompts. view&#x3D;query (default) returns one row per distinct sub-query with count and share of all occurrences; view&#x3D;prompt returns one row per prompt with how many distinct sub-queries it produced. Fan-out is reported mainly by ChatGPT, so an empty result usually means the models in scope do not expose it. The API returns the aggregation only: for a period-over-period delta, call it twice with explicit from/to.
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :view Row shape: one per distinct sub-query, or one per prompt (default to 'query')
    # @option opts [String] :order Sort field; the allowed set depends on view
    # @option opts [String] :direction  (default to 'desc')
    # @option opts [String] :query Case-insensitive substring filter on the sub-query text
    # @option opts [String] :model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped.
    # @option opts [String] :collection_id One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize.
    # @option opts [String] :country_code One ISO country code or a comma-separated list (e.g. US,GB,DE)
    # @option opts [String] :language_code One ISO language code or a comma-separated list (e.g. en,es,de)
    # @option opts [Integer] :prompt Filter by prompt ID
    # @option opts [String] :prompt_type One prompt type or a comma-separated list: informational, navigational, commercial, transactional
    # @option opts [String] :brand_kind Filter by brand kind: brand (own brand/products), brand_other (competitors/other brands), non_brand (generic, no brand named). For fair 1:1 brand-vs-competitor comparisons (visibility, share of voice), use non_brand: brand-focused prompts skew results toward the brand they name. The in-app Overview page applies non_brand by default.
    # @option opts [Integer] :range Number of days to look back (alternative to from/to)
    # @option opts [Time] :from 
    # @option opts [Time] :to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier.
    # @option opts [String] :output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def list_query_fan_outs_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromptsApi.list_query_fan_outs ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PromptsApi.list_query_fan_outs"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling PromptsApi.list_query_fan_outs, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling PromptsApi.list_query_fan_outs, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling PromptsApi.list_query_fan_outs, must be greater than or equal to 1.'
      end

      allowable_values = ["query", "prompt"]
      if @api_client.config.client_side_validation && opts[:'view'] && !allowable_values.include?(opts[:'view'])
        fail ArgumentError, "invalid value for \"view\", must be one of #{allowable_values}"
      end
      allowable_values = ["count", "share", "query_text", "total_count", "variations_count", "prompt_text"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      allowable_values = ["chatgpt", "perplexity", "gemini", "ai_overview", "ai_mode", "copilot", "claude", "grok", "deepseek", "meta_ai", "amazon_rufus", "naver_ai", "baidu_ai"]
      if @api_client.config.client_side_validation && opts[:'model'] && !allowable_values.include?(opts[:'model'])
        fail ArgumentError, "invalid value for \"model\", must be one of #{allowable_values}"
      end
      pattern = Regexp.new(/^\d+(,\d+)*$/)
      if @api_client.config.client_side_validation && !opts[:'collection_id'].nil? && opts[:'collection_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"collection_id\"]' when calling PromptsApi.list_query_fan_outs, must conform to the pattern #{pattern}."
      end

      allowable_values = ["brand", "brand_other", "non_brand"]
      if @api_client.config.client_side_validation && opts[:'brand_kind'] && !allowable_values.include?(opts[:'brand_kind'])
        fail ArgumentError, "invalid value for \"brand_kind\", must be one of #{allowable_values}"
      end
      allowable_values = ["flat", "csv"]
      if @api_client.config.client_side_validation && opts[:'output'] && !allowable_values.include?(opts[:'output'])
        fail ArgumentError, "invalid value for \"output\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/dimensions/query_fan_outs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'view'] = opts[:'view'] if !opts[:'view'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?
      query_params[:'collection_id'] = opts[:'collection_id'] if !opts[:'collection_id'].nil?
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'language_code'] = opts[:'language_code'] if !opts[:'language_code'].nil?
      query_params[:'prompt'] = opts[:'prompt'] if !opts[:'prompt'].nil?
      query_params[:'prompt_type'] = opts[:'prompt_type'] if !opts[:'prompt_type'].nil?
      query_params[:'brand_kind'] = opts[:'brand_kind'] if !opts[:'brand_kind'].nil?
      query_params[:'range'] = opts[:'range'] if !opts[:'range'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'output'] = opts[:'output'] if !opts[:'output'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PromptsApi.list_query_fan_outs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#list_query_fan_outs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
