=begin
#LLM Pulse API

#REST API client for LLM Pulse AI visibility analytics.

The version of the OpenAPI document: 1.22.0
Contact: info@llmpulse.ai
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module LLMPulse
  class PromptsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk-attach tags to prompts
    # Idempotent bulk assignment of tags (Collections) to existing prompts. Tags can be resolved by id or by name (case-insensitive). Use `create_missing: true` to auto-create unknown tag names. Requires a `read_write` scope API key.
    # @param assign_prompt_tags_request [AssignPromptTagsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def assign_prompt_tags(assign_prompt_tags_request, opts = {})
      assign_prompt_tags_with_http_info(assign_prompt_tags_request, opts)
      nil
    end

    # Bulk-attach tags to prompts
    # Idempotent bulk assignment of tags (Collections) to existing prompts. Tags can be resolved by id or by name (case-insensitive). Use &#x60;create_missing: true&#x60; to auto-create unknown tag names. Requires a &#x60;read_write&#x60; scope API key.
    # @param assign_prompt_tags_request [AssignPromptTagsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def assign_prompt_tags_with_http_info(assign_prompt_tags_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromptsApi.assign_prompt_tags ...'
      end
      # verify the required parameter 'assign_prompt_tags_request' is set
      if @api_client.config.client_side_validation && assign_prompt_tags_request.nil?
        fail ArgumentError, "Missing the required parameter 'assign_prompt_tags_request' when calling PromptsApi.assign_prompt_tags"
      end
      # resource path
      local_var_path = '/prompts/assign_tags'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(assign_prompt_tags_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PromptsApi.assign_prompt_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#assign_prompt_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk-create prompts
    # Add prompts to a project in bulk (up to 100 per request). Validates the account prompt quota and skips duplicates. Requires a `read_write` scope API key.
    # @param prompts_create_request [PromptsCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PromptsCreateResponse]
    def create_prompts(prompts_create_request, opts = {})
      data, _status_code, _headers = create_prompts_with_http_info(prompts_create_request, opts)
      data
    end

    # Bulk-create prompts
    # Add prompts to a project in bulk (up to 100 per request). Validates the account prompt quota and skips duplicates. Requires a &#x60;read_write&#x60; scope API key.
    # @param prompts_create_request [PromptsCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PromptsCreateResponse, Integer, Hash)>] PromptsCreateResponse data, response status code and response headers
    def create_prompts_with_http_info(prompts_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromptsApi.create_prompts ...'
      end
      # verify the required parameter 'prompts_create_request' is set
      if @api_client.config.client_side_validation && prompts_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'prompts_create_request' when calling PromptsApi.create_prompts"
      end
      # resource path
      local_var_path = '/prompts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prompts_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PromptsCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PromptsApi.create_prompts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#create_prompts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a prompt
    # Deletes a prompt (irreversible). The prompt disappears immediately and frees a prompt slot; its historical data (executions, mentions, citations, sentiment) is purged by a background job. Requires a `read_write` scope API key.
    # @param project_id [Integer] Project ID
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prompt(project_id, id, opts = {})
      delete_prompt_with_http_info(project_id, id, opts)
      nil
    end

    # Delete a prompt
    # Deletes a prompt (irreversible). The prompt disappears immediately and frees a prompt slot; its historical data (executions, mentions, citations, sentiment) is purged by a background job. Requires a &#x60;read_write&#x60; scope API key.
    # @param project_id [Integer] Project ID
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prompt_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromptsApi.delete_prompt ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PromptsApi.delete_prompt"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PromptsApi.delete_prompt"
      end
      # resource path
      local_var_path = '/prompts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PromptsApi.delete_prompt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#delete_prompt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
