=begin
#LLM Pulse API

#REST API client for LLM Pulse AI visibility analytics.

The version of the OpenAPI document: 1.48.0
Contact: info@llmpulse.ai
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module LLMPulse
  class RecommendationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get recommendation run with items
    # @param project_id [Integer] Project ID
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :item_status 
    # @option opts [Boolean] :resolve_source_refs  (default to true)
    # @return [nil]
    def get_recommendation(project_id, id, opts = {})
      get_recommendation_with_http_info(project_id, id, opts)
      nil
    end

    # Get recommendation run with items
    # @param project_id [Integer] Project ID
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :item_status 
    # @option opts [Boolean] :resolve_source_refs  (default to true)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_recommendation_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecommendationsApi.get_recommendation ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling RecommendationsApi.get_recommendation"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RecommendationsApi.get_recommendation"
      end
      allowable_values = ["active", "completed", "archived"]
      if @api_client.config.client_side_validation && opts[:'item_status'] && !allowable_values.include?(opts[:'item_status'])
        fail ArgumentError, "invalid value for \"item_status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/recommendations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'item_status'] = opts[:'item_status'] if !opts[:'item_status'].nil?
      query_params[:'resolve_source_refs'] = opts[:'resolve_source_refs'] if !opts[:'resolve_source_refs'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"RecommendationsApi.get_recommendation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecommendationsApi#get_recommendation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Launch a recommendations generation
    # Launches a full-scope recommendations generation (async job, 1-3 minutes; poll GET /recommendations/{id} until status is completed). Consumes the project weekly recommendation-item budget: returns ERR_LIMIT_REACHED when it is exhausted or when a generation of the same type is already pending/processing. sentiment_reputation requires the Scale plan or above. Requires a `read_write` scope API key.
    # @param launch_recommendations_request [LaunchRecommendationsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def launch_recommendations(launch_recommendations_request, opts = {})
      launch_recommendations_with_http_info(launch_recommendations_request, opts)
      nil
    end

    # Launch a recommendations generation
    # Launches a full-scope recommendations generation (async job, 1-3 minutes; poll GET /recommendations/{id} until status is completed). Consumes the project weekly recommendation-item budget: returns ERR_LIMIT_REACHED when it is exhausted or when a generation of the same type is already pending/processing. sentiment_reputation requires the Scale plan or above. Requires a &#x60;read_write&#x60; scope API key.
    # @param launch_recommendations_request [LaunchRecommendationsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def launch_recommendations_with_http_info(launch_recommendations_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecommendationsApi.launch_recommendations ...'
      end
      # verify the required parameter 'launch_recommendations_request' is set
      if @api_client.config.client_side_validation && launch_recommendations_request.nil?
        fail ArgumentError, "Missing the required parameter 'launch_recommendations_request' when calling RecommendationsApi.launch_recommendations"
      end
      # resource path
      local_var_path = '/recommendations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(launch_recommendations_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"RecommendationsApi.launch_recommendations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecommendationsApi#launch_recommendations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List recommendation runs
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recommendation_type 
    # @option opts [String] :status 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [nil]
    def list_recommendations(project_id, opts = {})
      list_recommendations_with_http_info(project_id, opts)
      nil
    end

    # List recommendation runs
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recommendation_type 
    # @option opts [String] :status 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def list_recommendations_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecommendationsApi.list_recommendations ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling RecommendationsApi.list_recommendations"
      end
      allowable_values = ["ai_visibility", "social_community", "brand_building", "sentiment_reputation"]
      if @api_client.config.client_side_validation && opts[:'recommendation_type'] && !allowable_values.include?(opts[:'recommendation_type'])
        fail ArgumentError, "invalid value for \"recommendation_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["pending", "processing", "completed", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling RecommendationsApi.list_recommendations, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling RecommendationsApi.list_recommendations, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling RecommendationsApi.list_recommendations, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/recommendations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'recommendation_type'] = opts[:'recommendation_type'] if !opts[:'recommendation_type'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"RecommendationsApi.list_recommendations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecommendationsApi#list_recommendations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
