=begin
#LLM Pulse API

#REST API client for LLM Pulse AI visibility analytics.

The version of the OpenAPI document: 1.57.0
Contact: info@llmpulse.ai
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module LLMPulse
  class StoreIntegrationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Accept catalog prompt suggestions
    # Starts tracking pending suggestions: each one becomes a prompt, tagged with a collection named after its product. Suggestions that are no longer pending come back in skipped. All accepted suggestions must share one country and language. When the new prompts would exceed the plan, the call returns ERR_LIMIT_REACHED and accepts nothing. Requires a `read_write` scope API key and, for team members, create access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
    # @param catalog_prompt_suggestion_ids_request [CatalogPromptSuggestionIdsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CatalogPromptSuggestionsAcceptResponse]
    def accept_catalog_prompt_suggestions(catalog_prompt_suggestion_ids_request, opts = {})
      data, _status_code, _headers = accept_catalog_prompt_suggestions_with_http_info(catalog_prompt_suggestion_ids_request, opts)
      data
    end

    # Accept catalog prompt suggestions
    # Starts tracking pending suggestions: each one becomes a prompt, tagged with a collection named after its product. Suggestions that are no longer pending come back in skipped. All accepted suggestions must share one country and language. When the new prompts would exceed the plan, the call returns ERR_LIMIT_REACHED and accepts nothing. Requires a &#x60;read_write&#x60; scope API key and, for team members, create access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
    # @param catalog_prompt_suggestion_ids_request [CatalogPromptSuggestionIdsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CatalogPromptSuggestionsAcceptResponse, Integer, Hash)>] CatalogPromptSuggestionsAcceptResponse data, response status code and response headers
    def accept_catalog_prompt_suggestions_with_http_info(catalog_prompt_suggestion_ids_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoreIntegrationsApi.accept_catalog_prompt_suggestions ...'
      end
      # verify the required parameter 'catalog_prompt_suggestion_ids_request' is set
      if @api_client.config.client_side_validation && catalog_prompt_suggestion_ids_request.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_prompt_suggestion_ids_request' when calling StoreIntegrationsApi.accept_catalog_prompt_suggestions"
      end
      # resource path
      local_var_path = '/catalog_prompt_suggestions/accept'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(catalog_prompt_suggestion_ids_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogPromptSuggestionsAcceptResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StoreIntegrationsApi.accept_catalog_prompt_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoreIntegrationsApi#accept_catalog_prompt_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Suggest buyer prompts from catalog products
    # Writes buyer prompts for up to 20 catalog products and saves them as pending suggestions in the project's Suggested prompts queue, with the product recorded on each. Generation draws on the hourly prompt-suggestion allowance the app also uses (ERR_QUOTA_EXCEEDED once it is used up); a failed generation returns ERR_GENERATION_FAILED (502) and can be retried. Requires a `read_write` scope API key and, for team members, create access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
    # @param catalog_prompt_suggestions_create_request [CatalogPromptSuggestionsCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CatalogPromptSuggestionsCreateResponse]
    def create_catalog_prompt_suggestions(catalog_prompt_suggestions_create_request, opts = {})
      data, _status_code, _headers = create_catalog_prompt_suggestions_with_http_info(catalog_prompt_suggestions_create_request, opts)
      data
    end

    # Suggest buyer prompts from catalog products
    # Writes buyer prompts for up to 20 catalog products and saves them as pending suggestions in the project&#39;s Suggested prompts queue, with the product recorded on each. Generation draws on the hourly prompt-suggestion allowance the app also uses (ERR_QUOTA_EXCEEDED once it is used up); a failed generation returns ERR_GENERATION_FAILED (502) and can be retried. Requires a &#x60;read_write&#x60; scope API key and, for team members, create access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
    # @param catalog_prompt_suggestions_create_request [CatalogPromptSuggestionsCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CatalogPromptSuggestionsCreateResponse, Integer, Hash)>] CatalogPromptSuggestionsCreateResponse data, response status code and response headers
    def create_catalog_prompt_suggestions_with_http_info(catalog_prompt_suggestions_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoreIntegrationsApi.create_catalog_prompt_suggestions ...'
      end
      # verify the required parameter 'catalog_prompt_suggestions_create_request' is set
      if @api_client.config.client_side_validation && catalog_prompt_suggestions_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_prompt_suggestions_create_request' when calling StoreIntegrationsApi.create_catalog_prompt_suggestions"
      end
      # resource path
      local_var_path = '/catalog_prompt_suggestions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(catalog_prompt_suggestions_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogPromptSuggestionsCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StoreIntegrationsApi.create_catalog_prompt_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoreIntegrationsApi#create_catalog_prompt_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Match a store to a project
    # Tells a store app whether the API key's account can use it and which project the store belongs to: the live project whose domain equals the store domain, else one whose domain is a parent or a subdomain of it, else null. candidates lists every live project of the account so the app can offer a picker. Takes no project_id. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
    # @param platform [String] Store platform
    # @param domain [String] Store domain, with or without scheme, e.g. acme-store.com
    # @param [Hash] opts the optional parameters
    # @return [StoreConnectionResponse]
    def get_store_connection(platform, domain, opts = {})
      data, _status_code, _headers = get_store_connection_with_http_info(platform, domain, opts)
      data
    end

    # Match a store to a project
    # Tells a store app whether the API key&#39;s account can use it and which project the store belongs to: the live project whose domain equals the store domain, else one whose domain is a parent or a subdomain of it, else null. candidates lists every live project of the account so the app can offer a picker. Takes no project_id. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
    # @param platform [String] Store platform
    # @param domain [String] Store domain, with or without scheme, e.g. acme-store.com
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoreConnectionResponse, Integer, Hash)>] StoreConnectionResponse data, response status code and response headers
    def get_store_connection_with_http_info(platform, domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoreIntegrationsApi.get_store_connection ...'
      end
      # verify the required parameter 'platform' is set
      if @api_client.config.client_side_validation && platform.nil?
        fail ArgumentError, "Missing the required parameter 'platform' when calling StoreIntegrationsApi.get_store_connection"
      end
      # verify enum value
      allowable_values = ["shopify"]
      if @api_client.config.client_side_validation && !allowable_values.include?(platform)
        fail ArgumentError, "invalid value for \"platform\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling StoreIntegrationsApi.get_store_connection"
      end
      # resource path
      local_var_path = '/store_connection'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'platform'] = platform
      query_params[:'domain'] = domain

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StoreConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StoreIntegrationsApi.get_store_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoreIntegrationsApi#get_store_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read AI-referred store orders
    # Reads back the AI-referred orders a store app pushed for a project: totals, one row per AI assistant and a daily series of the days with orders. Revenue values are decimal strings in currency. Team members need read access to AI Traffic. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Store platform (default to 'shopify')
    # @option opts [Date] :from First day (YYYY-MM-DD). Defaults to 89 days before to
    # @option opts [Date] :to Last day (YYYY-MM-DD). Defaults to today; the window is at most 400 days
    # @return [AiOrdersResponse]
    def list_ai_orders(project_id, opts = {})
      data, _status_code, _headers = list_ai_orders_with_http_info(project_id, opts)
      data
    end

    # Read AI-referred store orders
    # Reads back the AI-referred orders a store app pushed for a project: totals, one row per AI assistant and a daily series of the days with orders. Revenue values are decimal strings in currency. Team members need read access to AI Traffic. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Store platform (default to 'shopify')
    # @option opts [Date] :from First day (YYYY-MM-DD). Defaults to 89 days before to
    # @option opts [Date] :to Last day (YYYY-MM-DD). Defaults to today; the window is at most 400 days
    # @return [Array<(AiOrdersResponse, Integer, Hash)>] AiOrdersResponse data, response status code and response headers
    def list_ai_orders_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoreIntegrationsApi.list_ai_orders ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling StoreIntegrationsApi.list_ai_orders"
      end
      allowable_values = ["shopify"]
      if @api_client.config.client_side_validation && opts[:'platform'] && !allowable_values.include?(opts[:'platform'])
        fail ArgumentError, "invalid value for \"platform\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/ai_orders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AiOrdersResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StoreIntegrationsApi.list_ai_orders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoreIntegrationsApi#list_ai_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List catalog prompt suggestions
    # Lists the buyer prompts suggested from a store catalog, oldest first, with their status and the product each one came from. Team members need read access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Only suggestions in this status
    # @option opts [String] :product_external_id Only suggestions for this store product id
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 50)
    # @return [CatalogPromptSuggestionsResponse]
    def list_catalog_prompt_suggestions(project_id, opts = {})
      data, _status_code, _headers = list_catalog_prompt_suggestions_with_http_info(project_id, opts)
      data
    end

    # List catalog prompt suggestions
    # Lists the buyer prompts suggested from a store catalog, oldest first, with their status and the product each one came from. Team members need read access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
    # @param project_id [Integer] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Only suggestions in this status
    # @option opts [String] :product_external_id Only suggestions for this store product id
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 50)
    # @return [Array<(CatalogPromptSuggestionsResponse, Integer, Hash)>] CatalogPromptSuggestionsResponse data, response status code and response headers
    def list_catalog_prompt_suggestions_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoreIntegrationsApi.list_catalog_prompt_suggestions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling StoreIntegrationsApi.list_catalog_prompt_suggestions"
      end
      allowable_values = ["pending", "accepted", "rejected"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling StoreIntegrationsApi.list_catalog_prompt_suggestions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling StoreIntegrationsApi.list_catalog_prompt_suggestions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling StoreIntegrationsApi.list_catalog_prompt_suggestions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/catalog_prompt_suggestions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'product_external_id'] = opts[:'product_external_id'] if !opts[:'product_external_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogPromptSuggestionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StoreIntegrationsApi.list_catalog_prompt_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoreIntegrationsApi#list_catalog_prompt_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reject catalog prompt suggestions
    # Marks pending suggestions as rejected; suggestions that are no longer pending stay as they are. Requires a `read_write` scope API key and, for team members, update access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
    # @param catalog_prompt_suggestion_ids_request [CatalogPromptSuggestionIdsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CatalogPromptSuggestionsRejectResponse]
    def reject_catalog_prompt_suggestions(catalog_prompt_suggestion_ids_request, opts = {})
      data, _status_code, _headers = reject_catalog_prompt_suggestions_with_http_info(catalog_prompt_suggestion_ids_request, opts)
      data
    end

    # Reject catalog prompt suggestions
    # Marks pending suggestions as rejected; suggestions that are no longer pending stay as they are. Requires a &#x60;read_write&#x60; scope API key and, for team members, update access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
    # @param catalog_prompt_suggestion_ids_request [CatalogPromptSuggestionIdsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CatalogPromptSuggestionsRejectResponse, Integer, Hash)>] CatalogPromptSuggestionsRejectResponse data, response status code and response headers
    def reject_catalog_prompt_suggestions_with_http_info(catalog_prompt_suggestion_ids_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoreIntegrationsApi.reject_catalog_prompt_suggestions ...'
      end
      # verify the required parameter 'catalog_prompt_suggestion_ids_request' is set
      if @api_client.config.client_side_validation && catalog_prompt_suggestion_ids_request.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_prompt_suggestion_ids_request' when calling StoreIntegrationsApi.reject_catalog_prompt_suggestions"
      end
      # resource path
      local_var_path = '/catalog_prompt_suggestions/reject'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(catalog_prompt_suggestion_ids_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogPromptSuggestionsRejectResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StoreIntegrationsApi.reject_catalog_prompt_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoreIntegrationsApi#reject_catalog_prompt_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace AI-referred store orders for a window
    # Replaces the daily AI-referred orders and revenue of the from..to window. Send the raw referring host or utm_source of each order's first visit as referrer: LLM Pulse classifies it and ignores anything that is not an AI assistant. Entries for the same day and assistant are summed. Every stored row of that project and platform inside the window is replaced, so pushing the same window again converges instead of counting twice. Rows are kept per project and platform, not per store, so one store reports per project. Requires a `read_write` scope API key and, for team members, update access to AI Traffic. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
    # @param ai_orders_update_request [AiOrdersUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AiOrdersUpdateResponse]
    def replace_ai_orders(ai_orders_update_request, opts = {})
      data, _status_code, _headers = replace_ai_orders_with_http_info(ai_orders_update_request, opts)
      data
    end

    # Replace AI-referred store orders for a window
    # Replaces the daily AI-referred orders and revenue of the from..to window. Send the raw referring host or utm_source of each order&#39;s first visit as referrer: LLM Pulse classifies it and ignores anything that is not an AI assistant. Entries for the same day and assistant are summed. Every stored row of that project and platform inside the window is replaced, so pushing the same window again converges instead of counting twice. Rows are kept per project and platform, not per store, so one store reports per project. Requires a &#x60;read_write&#x60; scope API key and, for team members, update access to AI Traffic. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
    # @param ai_orders_update_request [AiOrdersUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AiOrdersUpdateResponse, Integer, Hash)>] AiOrdersUpdateResponse data, response status code and response headers
    def replace_ai_orders_with_http_info(ai_orders_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoreIntegrationsApi.replace_ai_orders ...'
      end
      # verify the required parameter 'ai_orders_update_request' is set
      if @api_client.config.client_side_validation && ai_orders_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'ai_orders_update_request' when calling StoreIntegrationsApi.replace_ai_orders"
      end
      # resource path
      local_var_path = '/ai_orders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ai_orders_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AiOrdersUpdateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StoreIntegrationsApi.replace_ai_orders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoreIntegrationsApi#replace_ai_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
