=begin
#LLM Pulse API

#REST API client for LLM Pulse AI visibility analytics.

The version of the OpenAPI document: 1.53.0
Contact: info@llmpulse.ai
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module LLMPulse
  class TechnicalGEOReportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Run technical GEO analysis
    # Launches the full nine-report technical GEO analysis bundle for a URL + country. The bundle starts only when at least nine daily units remain. Each successfully created report uses one unit; a report that is not created uses none. Daily allocations vary by account. Each report runs in a background job. Requires a `read_write` scope API key.
    # @param create_technical_geo_reports_request [CreateTechnicalGeoReportsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_technical_geo_reports(create_technical_geo_reports_request, opts = {})
      create_technical_geo_reports_with_http_info(create_technical_geo_reports_request, opts)
      nil
    end

    # Run technical GEO analysis
    # Launches the full nine-report technical GEO analysis bundle for a URL + country. The bundle starts only when at least nine daily units remain. Each successfully created report uses one unit; a report that is not created uses none. Daily allocations vary by account. Each report runs in a background job. Requires a &#x60;read_write&#x60; scope API key.
    # @param create_technical_geo_reports_request [CreateTechnicalGeoReportsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_technical_geo_reports_with_http_info(create_technical_geo_reports_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TechnicalGEOReportsApi.create_technical_geo_reports ...'
      end
      # verify the required parameter 'create_technical_geo_reports_request' is set
      if @api_client.config.client_side_validation && create_technical_geo_reports_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_technical_geo_reports_request' when calling TechnicalGEOReportsApi.create_technical_geo_reports"
      end
      # resource path
      local_var_path = '/technical_geo_reports'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_technical_geo_reports_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TechnicalGEOReportsApi.create_technical_geo_reports",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TechnicalGEOReportsApi#create_technical_geo_reports\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a technical GEO report
    # Returns the current status and the full result_data once the report is completed. While it is running, result_data is null and poll_after_seconds tells clients when to check again. Summaries carry output_language_code (the ISO 639-1 code an llms_txt report was requested in; null for an llms_txt report written in the website's own language, requested as auto or chosen in the app, and for every other report type); a completed llms_txt result_data also returns content_version (send it back to PATCH /technical_geo_reports/{id}/content), manually_edited_at, original_llms_txt_content and original_llms_full_txt_content (the generated files, kept from the first manual edit in the app, the API or MCP) and metadata.output_language_code.
    # @param project_id [Integer] Project ID
    # @param report_type [String] 
    # @param id [Integer] Report id returned by POST /technical_geo_reports or GET /technical_geo_reports
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_technical_geo_report(project_id, report_type, id, opts = {})
      get_technical_geo_report_with_http_info(project_id, report_type, id, opts)
      nil
    end

    # Get a technical GEO report
    # Returns the current status and the full result_data once the report is completed. While it is running, result_data is null and poll_after_seconds tells clients when to check again. Summaries carry output_language_code (the ISO 639-1 code an llms_txt report was requested in; null for an llms_txt report written in the website&#39;s own language, requested as auto or chosen in the app, and for every other report type); a completed llms_txt result_data also returns content_version (send it back to PATCH /technical_geo_reports/{id}/content), manually_edited_at, original_llms_txt_content and original_llms_full_txt_content (the generated files, kept from the first manual edit in the app, the API or MCP) and metadata.output_language_code.
    # @param project_id [Integer] Project ID
    # @param report_type [String] 
    # @param id [Integer] Report id returned by POST /technical_geo_reports or GET /technical_geo_reports
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_technical_geo_report_with_http_info(project_id, report_type, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TechnicalGEOReportsApi.get_technical_geo_report ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TechnicalGEOReportsApi.get_technical_geo_report"
      end
      # verify the required parameter 'report_type' is set
      if @api_client.config.client_side_validation && report_type.nil?
        fail ArgumentError, "Missing the required parameter 'report_type' when calling TechnicalGEOReportsApi.get_technical_geo_report"
      end
      # verify enum value
      allowable_values = ["crawlability", "schema", "content_readiness", "discoverability", "site_structure", "robots_txt", "agent_readiness", "llms_txt", "ai_visibility"]
      if @api_client.config.client_side_validation && !allowable_values.include?(report_type)
        fail ArgumentError, "invalid value for \"report_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TechnicalGEOReportsApi.get_technical_geo_report"
      end
      # resource path
      local_var_path = '/technical_geo_reports/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'report_type'] = report_type

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TechnicalGEOReportsApi.get_technical_geo_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TechnicalGEOReportsApi#get_technical_geo_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List technical GEO reports
    # Lists reports of one technical GEO type for a project, newest first. Use agent_readiness for the AI/Agent Readiness report.
    # @param project_id [Integer] Project ID
    # @param report_type [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Optional status filter; valid values depend on report_type
    # @option opts [Integer] :batch_id Optional batch id returned when the report bundle was created
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [nil]
    def list_technical_geo_reports(project_id, report_type, opts = {})
      list_technical_geo_reports_with_http_info(project_id, report_type, opts)
      nil
    end

    # List technical GEO reports
    # Lists reports of one technical GEO type for a project, newest first. Use agent_readiness for the AI/Agent Readiness report.
    # @param project_id [Integer] Project ID
    # @param report_type [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Optional status filter; valid values depend on report_type
    # @option opts [Integer] :batch_id Optional batch id returned when the report bundle was created
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def list_technical_geo_reports_with_http_info(project_id, report_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TechnicalGEOReportsApi.list_technical_geo_reports ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TechnicalGEOReportsApi.list_technical_geo_reports"
      end
      # verify the required parameter 'report_type' is set
      if @api_client.config.client_side_validation && report_type.nil?
        fail ArgumentError, "Missing the required parameter 'report_type' when calling TechnicalGEOReportsApi.list_technical_geo_reports"
      end
      # verify enum value
      allowable_values = ["crawlability", "schema", "content_readiness", "discoverability", "site_structure", "robots_txt", "agent_readiness", "llms_txt", "ai_visibility"]
      if @api_client.config.client_side_validation && !allowable_values.include?(report_type)
        fail ArgumentError, "invalid value for \"report_type\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling TechnicalGEOReportsApi.list_technical_geo_reports, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling TechnicalGEOReportsApi.list_technical_geo_reports, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling TechnicalGEOReportsApi.list_technical_geo_reports, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/technical_geo_reports'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = project_id
      query_params[:'report_type'] = report_type
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'batch_id'] = opts[:'batch_id'] if !opts[:'batch_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TechnicalGEOReportsApi.list_technical_geo_reports",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TechnicalGEOReportsApi#list_technical_geo_reports\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revert llms.txt report content
    # Discards every manual edit on the llms_txt report and restores the llms.txt and llms-full.txt files exactly as they were generated. Returns ERR_INVALID_PARAM when the report has no manual edits or report_type is not llms_txt. Requires a `read_write` scope API key and, for team members, create permission on GEO Optimization.
    # @param id [Integer] Report id returned by POST /technical_geo_reports or GET /technical_geo_reports
    # @param technical_geo_report_content_revert_request [TechnicalGeoReportContentRevertRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LlmsTxtTechnicalGeoReport]
    def revert_technical_geo_report_content(id, technical_geo_report_content_revert_request, opts = {})
      data, _status_code, _headers = revert_technical_geo_report_content_with_http_info(id, technical_geo_report_content_revert_request, opts)
      data
    end

    # Revert llms.txt report content
    # Discards every manual edit on the llms_txt report and restores the llms.txt and llms-full.txt files exactly as they were generated. Returns ERR_INVALID_PARAM when the report has no manual edits or report_type is not llms_txt. Requires a &#x60;read_write&#x60; scope API key and, for team members, create permission on GEO Optimization.
    # @param id [Integer] Report id returned by POST /technical_geo_reports or GET /technical_geo_reports
    # @param technical_geo_report_content_revert_request [TechnicalGeoReportContentRevertRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LlmsTxtTechnicalGeoReport, Integer, Hash)>] LlmsTxtTechnicalGeoReport data, response status code and response headers
    def revert_technical_geo_report_content_with_http_info(id, technical_geo_report_content_revert_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TechnicalGEOReportsApi.revert_technical_geo_report_content ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TechnicalGEOReportsApi.revert_technical_geo_report_content"
      end
      # verify the required parameter 'technical_geo_report_content_revert_request' is set
      if @api_client.config.client_side_validation && technical_geo_report_content_revert_request.nil?
        fail ArgumentError, "Missing the required parameter 'technical_geo_report_content_revert_request' when calling TechnicalGEOReportsApi.revert_technical_geo_report_content"
      end
      # resource path
      local_var_path = '/technical_geo_reports/{id}/revert_content'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(technical_geo_report_content_revert_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LlmsTxtTechnicalGeoReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TechnicalGEOReportsApi.revert_technical_geo_report_content",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TechnicalGEOReportsApi#revert_technical_geo_report_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit llms.txt report content
    # Replaces the llms.txt and llms-full.txt files of a completed llms_txt report in place, without generating them again. `edits` maps llms_txt and/or llms_full_txt to the full replacement text. `content_version` must equal result_data.content_version of the report as last read; when the report changed since, the edit is refused as stale and the message names the current version. A missing or stale content_version, a blank file, a file over 200,000 characters, a value that is not text, an unknown file key, an empty `edits` object, a report that has not completed or a report_type other than llms_txt is rejected with ERR_INVALID_PARAM and nothing is written. Files are stored with Unix line endings and one trailing newline. A file identical to the stored one is ignored, and the response lists the files that actually changed. The first edit keeps the generated files in original_llms_txt_content and original_llms_full_txt_content so POST /technical_geo_reports/{id}/revert_content can restore them; running the report again creates a new report without these edits. Requires a `read_write` scope API key and, for team members, create permission on GEO Optimization.
    # @param id [Integer] Report id returned by POST /technical_geo_reports or GET /technical_geo_reports
    # @param technical_geo_report_content_update_request [TechnicalGeoReportContentUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TechnicalGeoReportContentUpdateResponse]
    def update_technical_geo_report_content(id, technical_geo_report_content_update_request, opts = {})
      data, _status_code, _headers = update_technical_geo_report_content_with_http_info(id, technical_geo_report_content_update_request, opts)
      data
    end

    # Edit llms.txt report content
    # Replaces the llms.txt and llms-full.txt files of a completed llms_txt report in place, without generating them again. &#x60;edits&#x60; maps llms_txt and/or llms_full_txt to the full replacement text. &#x60;content_version&#x60; must equal result_data.content_version of the report as last read; when the report changed since, the edit is refused as stale and the message names the current version. A missing or stale content_version, a blank file, a file over 200,000 characters, a value that is not text, an unknown file key, an empty &#x60;edits&#x60; object, a report that has not completed or a report_type other than llms_txt is rejected with ERR_INVALID_PARAM and nothing is written. Files are stored with Unix line endings and one trailing newline. A file identical to the stored one is ignored, and the response lists the files that actually changed. The first edit keeps the generated files in original_llms_txt_content and original_llms_full_txt_content so POST /technical_geo_reports/{id}/revert_content can restore them; running the report again creates a new report without these edits. Requires a &#x60;read_write&#x60; scope API key and, for team members, create permission on GEO Optimization.
    # @param id [Integer] Report id returned by POST /technical_geo_reports or GET /technical_geo_reports
    # @param technical_geo_report_content_update_request [TechnicalGeoReportContentUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TechnicalGeoReportContentUpdateResponse, Integer, Hash)>] TechnicalGeoReportContentUpdateResponse data, response status code and response headers
    def update_technical_geo_report_content_with_http_info(id, technical_geo_report_content_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TechnicalGEOReportsApi.update_technical_geo_report_content ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TechnicalGEOReportsApi.update_technical_geo_report_content"
      end
      # verify the required parameter 'technical_geo_report_content_update_request' is set
      if @api_client.config.client_side_validation && technical_geo_report_content_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'technical_geo_report_content_update_request' when calling TechnicalGEOReportsApi.update_technical_geo_report_content"
      end
      # resource path
      local_var_path = '/technical_geo_reports/{id}/content'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(technical_geo_report_content_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TechnicalGeoReportContentUpdateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TechnicalGEOReportsApi.update_technical_geo_report_content",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TechnicalGEOReportsApi#update_technical_geo_report_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
